<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593385696007-55h5smpdkbvcop7r3lc85si89a1vgmp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593385696007-55h5smpdkbvcop7r3lc85si89a1vgmp9</string>
	<key>API_KEY</key>
	<string>AIzaSyBh79vJfxvjhOnpg_5wYG8fTFzHiDZN0sY</string>
	<key>GCM_SENDER_ID</key>
	<string>593385696007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hamza.a.eCommerceCar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>business-3666c</string>
	<key>STORAGE_BUCKET</key>
	<string>business-3666c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593385696007:ios:f59d1b03c054e4476673a2</string>
</dict>
</plist>